<div id="questionsList">

  <% @questions.each do |question| %>

    <div class="message">
      <h4><%= link_to question.title, question %></h4>

      <p class="metadata">
        <span class="answersCount"><%= question.answers.size.to_s() %> replies</span>,
        latest by <span class="questionAuthor"><%=
          if question.answers.size == 0
            question.owner.name
          else
            question.answers.last.owner.name
          end %>
        </span> on
        <span class="time"><%= question.created_at.strftime("%B %d, %Y %I:%M:%S %p") %></span>

        <%= actions_for_question question %>
      </p>
    </div>

  <% end %>

</div>

